:root {
  --background-color: #1b3c53;
  --primary-color: #456882;
  --accent-color: #d2c1b6;
  --primary-color-text: #f9f3ef;

  --primary-font: "Mozilla Headline", Garamond, serif;
  --secondary-font: "Noto Sans", Verdana, sans-serif;
}

body {
  background-color: var(--background-color);
  font-family: var(--primary-font);
  color: var(--primary-color-text);
  margin: 0;
}

.font-secondary {
  font-family: var(--secondary-font);
}
